{% extends 'base.html' %}
{% block page_title %}메인화면{% endblock page_title %}
{% block content %}
<div class="title">
    내 여행
</div>

{% if user.is_authenticated %}
<a href="{% url 'travels:createtravel' %}">여행지 추가</a>
{% for eachtravel in alltravel %}

{{eachtravel.name}}
{{eachtravel.start_date}}
{{eachtravel.end_date}}
{{eachtravel.id}}
{% endfor %}
{% endif %}
<span>여행지추가는 로그인시 보임</span>

<div class="items">
    <button class="new" onclick="location.href='add.html'">
        +
    </button>
    <button class="plan" onclick="location.href='add.html'">
        1
    </button>
    <button class="plan" onclick="location.href='add.html'">
        2
    </button>
</div>
{% endblock %}