{% extends 'base.html' %}
{% block page_title %}메인화면{% endblock page_title %}
{% block content %}
<div class="title">
    내 여행
</div>

<div class="items">
    {% if user.is_authenticated %}
    <button class="new" onclick="location.href='{% url 'travels:createtravel' %}'"> + </button>

    {% for eachtravel in alltravel %}
    <button class="plan" onclick="location.href='{% url 'travels:checktravel' eachtravel.id %}'"  style="background-color:{{eachtravel.color}};">
        {{eachtravel.name}}
        <br>
        <br>
        {{eachtravel.start_date}}
        <br>~<br>
        {{eachtravel.end_date}}
        <br>
    </button>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
