{% extends 'base.html' %}
{% block page_title %}경로 확인{% endblock page_title %}
{% block content %}
<div class="title">
    경로 확인
</div>
{% csrf_token %}

{{travel.name}}
{{travel.start_date }}

    {% for place in chk_day %}
        <h3>{{place.0}}일차</h3><br>
        {% for p in places %}
            {% if p.day == place.0 %}
                <h4>{{p.name}}</h4><br>
            {% endif %}
        {% endfor %}
    {% endfor %}


<button>취소</button>
<a href="{% url 'travels:savepath' %}">
    <button type='submit'>경로 저장</button>
</a>
{% endblock %}