{% extends 'base.html' %}
{% block page_title %}경로 확인{% endblock page_title %}
{% block content %}
<div class="title">
    경로 확인
</div>
<div class="main">
    <div class="table">

{{travel.name}}
{{travel.start_date }}
<div class="button-table">
    {% for place in chk_day %}
        <h3>{{place.0}}일차</h3><br>
        {% for p in places %}
            {% if p.day == place.0 %}
                <h4>{{p.name}}</h4><br>
            {% endif %}
        {% endfor %}
    {% endfor %}


    <a href="{% url 'travels:deletetravel' travel.id %}">
        <button type='submit' class="act">경로 취소</button>
    </a>
    <a href="{% url 'travels:savepath' %}">
      <button type='submit' class="act">경로 저장</button>
    </a>
</div>
</div>
</div>
{% endblock %}
