{% extends 'base.html' %}
{% block page_title %}여행지 확인{% endblock page_title %}
{% block content %}
<div class="title">
    여행지 확인
</div>
<div class="table">
    <div class="check-table">
        <span class="textline">여행이름</span>
        <input type="text" class="textbar" value={{travel.name}} disabled/>
    </div>
    <div class="check-table">
        <span class="textline">숙소</span>
        <input type="text" class="textbar" value={{lodging.name}} disabled/>
    </div>
    <div class="check-table">
        <span class="textline">여행기간</span>
        <input type="date" class="datebar" value={{travel.start_date}} disabled/>
        <span class="textline" style="margin-left: auto;">~</span>
        <input type="date" class="datebar" value={{travel.end_date}} disabled/>
    </div>
    
          {% for place in places %}
          <div class="check-table">
            <span class="textline">{{place.day}}일차</span>
            <br>
            <input type="text" class="textbar" value={{place.name}} disabled/>
            <br>
                
          </div>
      
        {% endfor %}
 


  

    <div class="button-table">
    <button class="act" onclick="history.back()">취소</button>
    <a href="{% url 'travels:updatetravel' travel.id %}">
        <button type='submit' class="act">수정</button>
    </a>
    </div>

 </div>
{% endblock %}
