{% extends 'base.html' %}
{% block page_title %}여행지 확인{% endblock page_title %}
{% block content %}
<div class="title">
    여행지 확인
</div>
<div class="table">
    <div class="check-table">
        <span class="textline">여행이름</span>
        <input type="text" class="textbar" value="{{travel.name}}" disabled/>
    </div>
    <div class="check-table">
        <span class="textline">숙소</span>
        <input type="text" class="textbar" value="{{lodging.name}}" disabled/>
    </div>
    <div class="check-table">
        <span class="textline">여행기간</span>
        <input type="text" class="datebar" value="{{travel.start_date}}" disabled/>
        <span class="textline" style="margin-left: auto;">~</span>
        <input type="text" class="datebar" value="{{travel.end_date}}" disabled/>
    </div>
    {% for place in chk_day %}
    <div class="check-table">
        <span class="textline">{{place.0}}일차</span>
        {% for p in places %}
            {% if p.day == place.0 %}
            <input type="text" class="textbar" value="{{p.name}}" disabled/>   
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    
   

    <div class="button-table">
    <button class="act" onclick="history.back()">취소</button>
  
    <a href="{% url 'travels:deletetravel' travel.id %}">
        <button type='submit' class="act">삭제</button>
    </a>
    </div>

 </div>
{% endblock %}
