{% extends 'base.html' %}
{% load static %}
{% block page_title %}여행지 추가{% endblock page_title %}
{% block content %}
<h1>여행지 추가</h1>
<!-- <div id="map" style="width:100%;height:350px;"></div> -->

<head>
    <link rel="stylesheet" href="{% static 'css/add_place.css' %}">
</head>

    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
<div id ="addplace_latlng" >
    <span></span>
</div>

<!-- <input type="button" id="hw" value="Hello world" /> -->

<form action="" method="post">
    <br>
    <br>
    <br>
    <br>
    {%csrf_token%}
    ----여행
    {{travelform.as_p}}
    --------숙소
    {{lodgingform.as_p}}
    --------장소
    {{placeformset.management_form}}
    <div id="placeformset">
        {% for form in placeformset %}
        <p>
            {{form}}
            <button type="button" class="placeformset_del_button">❌</button>
        </p>
        {% endfor %}
    </div>
    <button type="button" class="placeformset_add_button">➕</button>

    <div>
        <button>취소</button>
        <button type='submit'>경로 추천</button>
    </div>
</form>
<br>
<br>
<br>
<br>
<br><br><br>
{% endblock %}

{% block javascript %}
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=899bda16db224b9417dff6448a51609c&libraries=services">
    </script>
<script type="text/javascript" src="{% static 'js/createtravel.js' %}?after "></script>
<script type="text/javascript" src="{% static 'js/formset_button.js' %}?after "></script>
{% endblock javascript %}