{% extends 'base.html' %}
{% load static %}
{% block page_title %}여행지 추가{% endblock page_title %}
{% block content %}
<h1>여행지 추가</h1>

<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="" id="keyword" size="15">
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>

<cl id="click-result">
    <span id="click-result__name"></span>
    <span id="click-result__address" style="display:none;"></span>
    <span id="click-result__lat" style="display:none;"></span>
    <span id="click-result__lng" style="display:none;"></span>
</cl>
<button type="button" class="placeformset_place_button">여행지 추가</button>

    <div class="table">
<form action="" method="post">
    {%csrf_token%}
  <br>
    <br>
    <br>
    <br>
    ----여행
    <div class="check-table">
            <span class="textline">여행이름</span>
            <div class="textbar">
                {{travelform.name}}
            </div>
        </div>
        <div class="check-table">
            <span class="textline">여행시작날짜</span>
            <input type="date" class="textbar" value={{travelform.start_date}}>
        </div>
        <div class="check-table">
            <span class="textline">여행종료날짜</span>
            <input type="date" class="textbar" value={{travelform.end_date}}>
        </div>
        <div class="check-table">
            <span class="textline">여행지 컬러</span>
            <input type="color" class="textbar" value={{travelform.color}}>
        </div>
    --------숙소
    {{lodgingform.as_p}}
    --------장소
    {{placeformset.management_form}}
    <div id="placeformset">
        {% for form in placeformset %}
        <p>
            <button type="button" class="placeformset_del_button">❌</button>
        </p>
        {% endfor %}
    </div>

    <div class="button-table">
            <button class="act" onclick="history.back()">취소</button>
            <button type='submit' class="act">경로 추천</button>
    </div>
</form>
</div>
<br>
<br>
<br>
<br>
<br><br><br>
{% endblock %}

{% block javascript %}
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=899bda16db224b9417dff6448a51609c&libraries=services">
    </script>
<script type="text/javascript" src="{% static 'js/createtravel.js' %}?after "></script>
<script type="text/javascript" src="{% static 'js/formset_button.js' %}?after "></script>
{% endblock javascript %}
