{% extends 'base.html' %}
{% load static %}
{% block page_title %}여행지 추가{% endblock page_title %}
{% block content %}
<h1>여행지 추가</h1>
<!-- <div id="map" style="width:100%;height:350px;"></div> -->

<form action="" method="post">
    {%csrf_token%}
    ----여행
    {{travelform.as_p}}
    --------숙소
    {{lodgingform.as_p}}
    --------장소
    {{placeformset.management_form}}
    <div id="placeformset">
        {% for form in placeformset %}
        <p>
            {{form}}
            <button type="button" class="placeformset_del_button">❌</button>
        </p>
        {% endfor %}
    </div>
    <button type="button" class="placeformset_add_button">➕
    </button>

    <div>
        <button>취소</button>
        <button type='submit'>경로 추천</button>
    </div>
</form>
<br>
<br>
<br>
<br>
<br><br><br>



{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/createtravel.js' %}?after "></script>
<script type="text/javascript" src="{% static 'js/formset_button.js' %}?after "></script>
{% endblock javascript %}