{% extends 'base.html' %}
{% block page_title %}여행지 생성{% endblock page_title %}
{% block content %}
<h1>여행지 추가</h1>
<div id="map" style="width:100%;height:350px;"></div>
<form action="" method="post">
    {%csrf_token%}
    ----여행
    {{travelform.as_p}}
    --------숙소
    {{lodgingform.as_p}}
    --------장소
    {{placeformset.management_form}}
    {% for form in placeformset %}
    {{form.as_p}}
    {% endfor %}
    <button>취소</button>
    <button type='submit'>경로 추천</button>

</form>

{% endblock %}