<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <title>Document</title>
    <script>
     $.ajax({
    url: 'https://dapi.kakao.com/v2/local/search/keyword.json?query=' + encodeURIComponent('서울특별시 동대문구 이문로 107'),
    headers: { 'Authorization': 'KakaoAK b2da839ebc1af58bd44041ba6574ec9e'}, 
    type: 'GET'
}).done(function(data) {
    console.log(data.documents[0].place_name);
});
    </script>
</head>
</html>