{% extends 'base.html' %}
{% block page_title %}여행지 수정{% endblock page_title %}
{% block content %}
<h1>여행지 수정</h1>
<form action="{%url 'travels:updatetravel' travel.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h4>여행 이름: </h4>
    <input type="text" name="travel" value=“{{travel.name}}”>
    <br>

        <h4>숙소 이름: </h4>
        <input type="text" name="lodging" value=“{{lodging.name}}”>
        <br>
    <button>취소</button>
    <input type="submit" value="저장">
</form>
{% endblock %}